
<div class="custom-control custom-switch custom-switch-lg" data-fieldname="{{field.getProperty}}">
    <input type="checkbox" class="custom-control-input" id="{{field.uniqueId}}" checked="" autocomplete="off">
    <label class="custom-control-label" for="{{field.uniqueId}}"></label>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that your what to deactivate the register?, this register will disappear and all the register that depend of this will be deactivate asswell
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal" >Close</button>
        <a onclick="window.location.reload()" type="button" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div>

<script>
    $('#{{field.uniqueId}}').change( function() {
        if (!this.checked) {
            $('#exampleModal').modal('toggle');
        }
    });
</script>  
